.post {
  margin-top: 2vh;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.avatar {
  width: 5vw;
}

.avatar img {
  align-items: center;
  width: 3vw;
  height: 3vw;
}

.title {
  display: flex;
  align-items: center;
  height: 3vw;
}

.title h2 {
  font-size: 14px;
}

.content p {
  font-size: 12px;
  text-align: justify;
  color: var(--color-text-secondary);
}

@media (max-width: 576px) {
  .title {
    height: 8vw;
  }

  .avatar {
    width: 10vw;
  }

  .avatar img {
    width: 8vw;
    height: 8vw;
  }
}
