.post {
  margin: 2rem 0;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.avatar {
  width: 5rem;
}

.avatar img {
  align-items: center;
  width: 4rem;
  height: 4rem;
}

.title {
  display: flex;
  align-items: center;
  height: 4rem;
}

.title h2 {
  font-size: 1.8rem;
}

.content {
  padding-top: 0.5rem;
}

.content p {
  font-size: 1.6rem;
  text-align: justify;
  color: var(--color-text-secondary);
}
