:root {
  --color-bg-primary: #ffffff;

  --color-text-primary: #36435f;
  --color-text-secondary: #96a0b5;

  --color-line-primary: #e2dfdf;

  --color-button-first: #3e81cf;
  --color-button-second: #60c2ec;
}

html,
body {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

@media (min-width: 576px) {
  html,
  body {
    font-size: 11px;
  }
}

@media (min-width: 992px) {
  html,
  body {
    font-size: 12px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
